
    * {
            margin: 0;
            padding: 0;
            font: normal 12px '고딕';
        }
        ul, ol {list-style: none;}
        a {text-decoration: none; color: #111;}
        input, textarea {outline: none;}
        
        #wrapper {
        position: relative;
        width: 1920px;
        height: 1214px;
                
        background: #FFFFFF;

        margin: 0 auto;

        }


        .subtopbg1{
            position: absolute;
            width: 980px;

            height: 14px;
            top: 1px;
            background-repeat: repeat;
            height: 10px;
            background-image: url('../img/head_top_line.png')
        }
        .subtopbg1{
            position: absolute;
            width: 980px;

            height: 184px;
            left: 470px;
            right: 470px;
            top: 145px;


            background: url(.jpg);


        }
        .subtopbg1 .subtoptit1{
            position: absolute;
            width: 326px;
            height: 37px;
            left: 10px;
            bottom: 10px;
                    
            background: url(.png);

        }
        


            background: url(.jpg);


        }
        .subtopbg1 .subtoptit1{
            position: absolute;
            width: 326px;
            height: 37px;
            left: 10px;
            bottom: 10px;
                    
            background: url(.png);

        }


        main {
            position: absolute;
            width: 980px;
            height: 743px;
            left: 470px;
            right: 470px;
            top: 326px;
        }
        main > aside{
            position: absolute;
            width: 176px;
            height: 650px;
            left: 0px;
            top: 0px;

            background: url(.png);

        }

        main > #asidesize{
            position: absolute;
            width: 176px;
            height: 650px;
            left: 470px;
            top: 340px;

            background: url(.png);
            
        }
        
        .asidegate1{
            position: absolute;
            width: 129px;
            height: 44px;
            left: 16px;
            top: 16px;

            background: url(.png);


        }

         main {
            position: absolute;
            width: 980px;
            height: 743px;
            left: 470px;
            right: 470px;
            top: 326px;
        }
        main > aside{
            position: absolute;
            width: 176px;
            height: 650px;
            left: 0px;
            top: 0px;

            background: url(.png);

        }

        main > #asidesize{
            position: absolute;
            width: 176px;
            height: 650px;
            left: 470px;
            top: 340px;

            background: url(.png);
            
        }
        
        .asidegate1{
            position: absolute;
            width: 129px;
            height: 44px;
            left: 16px;
            top: 16px;

            background: url(.png);


        }

        main #asidesize .asidebgline{
            position: relative;
            top: 37px;
            float: right;
            
        }

        .asidelnb{
            position: absolute;
            width: 175px;
            height: 233px;
            left: 0px;
            top: 81px;

            background: url('img/sub_aside_bg_lnb.png');

        }

        .asidelnb .lnb1{
            position: absolute;
            left: 0px;
            right: 0px;
            top: 26px;
            bottom: 178px;

            background: url(.png);


        }
        .asidelnb .lnb2{
            position: absolute;
            left: 0px;
            right: 0px;
            top: 61px;
            bottom: 143px;

            background: url(.png);


        }
        .asidelnb .lnb3{
            position: absolute;
            left: 0px;
            right: 0px;
            top: 96px;
            bottom: 108px;

            background: url(.png);

        }


        .hello{
            position: absolute;
            width: 802px;
            height: 743px;
            left: 176px;
            top: 0px;
        }

        .hello > article > nav{
            box-sizing: border-box;
            position: absolute;
            width: 762px;
            height: 72px;
            left: 40px;
            right: 0px;
            top: 0px;

            border-bottom: 1px solid #C2C2C2;

        }
        .hello > article > nav .navtit1{
            position: absolute;
            width: 69px;
            height: 24px;
            left: 0px;
            bottom: 5px;

            background: url(.png);

        }
        .hello > article > nav .smallhello{
            position: absolute;
            height: 17px;
            left: 75.21%;
            right: 0%;
            bottom: 5px;
            white-space: nowrap;
       
        }
       

        .hello > article > nav .smallhello .smallhello2{
            position: absolute;
            height: 14px;
            height: 14px;
            left: 42px;
            top: 1px;

            font-family: Arial, Helvetica, sans-serif; /* 폰트 패밀리 */
            font-style: normal; /* 폰트 스타일 */
            font-weight: 400; /* 폰트 굵기 */
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;

            color: #8C8C8C;



        }
        .hello > article > nav .smallhello .smallhello2 > div{
            position: relative;
            right: 3px;
            bottom: 2px;

        }
        .hello > article > nav .smallhello .smallhello2 .highlight{
            position: relative;
            bottom: 1.5px;
            font-weight: bold;
            color: #91BA15;
            
        }
        .hello > article > a {
            position: absolute;
            width: 141.42px;
            height: 14px;
            left: 40px;
            top: 113px;
                    
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 11.8125px;
            line-height: 14px;
            display: flex;
            align-items: center;
                    
            color: #777777;
            white-space: nowrap;
        }
        .hello > article > a .highlight2{
            color: #111111;

        }
        
        .hello > article .cart{
            box-sizing: border-box;

            position: absolute;
            height: 564px;
            left: 40px;
            right: 0px;
            top: 139px;

            border-width: 1px 0px;
            border-style: solid;
            border-color: #111111;
            overflow: hidden;
        }

        .hello > article .cart > .carthead{
            box-sizing: border-box;
                    
            position: absolute;
            width: 762px;
            height: 38px;
            left: 0px;
            top: calc(50% - 38px/2 - 262.5px);
                    
            border-bottom: 1px solid #EEEEEE;

        }
        .hello > article .cart > .cartbody{
            position: absolute;
            width: 762px;
            height: 525px;
            left: 0px;
            top: calc(50% - 525px/2 + 19px);

            
        }

        .hello > article .cart > .carthead > li:nth-child(1){

            box-sizing: border-box;

            position: absolute;
            width: 100px;
            height: 38px;
            left: 0px;
            top: calc(50% - 38px/2);

            background: #E5ECEF;
            border-bottom: 1px solid #D1DEE2;


        }

        .hello > article .cart > .carthead > li:nth-child(1) .image{
            position: absolute;
            width: 36.2px;
            height: 14px;
            left: 32px;
            top: calc(50% - 14px/2 - 0.5px);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            text-align: center;

            color: #000000;

        }
        .hello > article .cart > .carthead > li:nth-child(2){

            box-sizing: border-box;

            position: absolute;
            width: 76.19px;
            height: 38px;
            left: 100px;
            top: calc(50% - 38px/2);

            background: #E5ECEF;
            border-bottom: 1px solid #D1DEE2;

        }
        .hello > article .cart > .carthead > li:nth-child(2) .kind{
            position: absolute;
            width: 24.2px;
            height: 14px;
            left: 26.09px;
            top: calc(50% - 14px/2 - 0.5px);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            text-align: center;

            color: #000000;

        }
        .hello > article .cart > .carthead > li:nth-child(3){

            box-sizing: border-box;

            position: absolute;
            width: 311.5px;
            height: 38px;
            left: 176.19px;
            top: calc(50% - 38px/2);

            background: #E5ECEF;
            border-bottom: 1px solid #D1DEE2;

        }
        .hello > article .cart > .carthead > li:nth-child(3) .Productname{
            position: absolute;
            width: 36.2px;
            height: 14px;
            left: 137.75px;
            top: calc(50% - 14px/2 - 0.5px);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            text-align: center;

            color: #000000;

        }
        .hello > article .cart > .carthead > li:nth-child(4){
            box-sizing: border-box;

            position: absolute;
            width: 91.44px;
            height: 38px;
            left: 487.69px;
            top: calc(50% - 38px/2);

            background: #E5ECEF;
            border-bottom: 1px solid #D1DEE2;


        }
        .hello > article .cart > .carthead > li:nth-child(4) .discount{
            position: absolute;
            width: 24.2px;
            height: 14px;
            left: 33.72px;
            top: calc(50% - 14px/2 - 0.5px);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            text-align: center;

            color: #000000;
        }
        .hello > article .cart > .carthead > li:nth-child(5){
            box-sizing: border-box;

            position: absolute;
            width: 91.44px;
            height: 38px;
            left: 579.13px;
            top: calc(50% - 38px/2);

            background: #E5ECEF;
            border-bottom: 1px solid #D1DEE2;



        }
        .hello > article .cart > .carthead > li:nth-child(5) .point{
            position: absolute;
            width: 36.2px;
            height: 14px;
            left: 27.71px;
            top: calc(50% - 14px/2 - 0.5px);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            text-align: center;

            color: #000000;

        }
        .hello > article .cart > .carthead > li:nth-child(6){
            box-sizing: border-box;
                    
            position: absolute;
            width: 91.44px;
            height: 38px;
            left: 670.56px;
            top: calc(50% - 38px/2);
                    
            background: #E5ECEF;
            border-bottom: 1px solid #D1DEE2;



        }
        .hello > article .cart > .carthead > li:nth-child(6) .price{
            position: absolute;
            width: 48.2px;
            height: 14px;
            left: 21.72px;
            top: calc(50% - 14px/2 - 0.5px);
                    
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            text-align: center;
                    
            color: #000000;

        }
        
table{
        box-sizing: border-box;

            position: absolute;
            width: 762px;
            height : 133px;
            left: 40px;
            right: 0px;
            top: 139px;

            border-width: 1px 0px 0px 0px;
            border-style: solid;
            border-color: #111111;
            border-collapse: collapse;
            overflow: hidden;
        
        }
 			 tr:nth-child(1){
        
			position : relative;
      		width: 762px;
        	height: 38px
        }
        
        th{
       		 box-sizing: border-box;
       		 background: #E5ECEF; 
            border-bottom: 1px solid #D1DEE2;
            height : 37px;
            line-height: 38px
            
        }
        
        
        th:nth-child(1){ 

            position: absolute;
            width: 100px;
            left: 0px;


		}
        th:nth-child(2){ 

            position: absolute;
            width: 76.19px;
            left: 100px;


		}
		 th:nth-child(3){ 

            position: absolute;
            width: 311.5px;
           left: 176.19px;


		}
		 th:nth-child(4){ 

            position: absolute;
            width: 94.44px;
            left: 487.69px;

		}
		 th:nth-child(5){ 

            position: absolute;
            width: 94.44px;
            left: 579.13px;


		}
		 th:nth-child(6){ 

            position: absolute;
            width: 94.44px;
            left: 670.56px;

		 }
		 table .cartproduct{
       		box-sizing: border-box;
        	position: relative;
        	width :762px;
        	height: 89px;
        	
        }
         table .cartproduct > td:nth-child(1){
         	width: 100px;
         
         }
          table .cartproduct > td:nth-child(2){
         	width: 76.19px;
         
         }
          table .cartproduct > td:nth-child(3){
         	  width: 311.5px;
         
         }
          table .cartproduct > td:nth-child(4){
         	width: 94.44px;
         
         }
           table .cartproduct > td:nth-child(5){
         	width: 94.44px;
         
         }
         table .cartproduct > td:nth-child(6){
         	width: 94.44px;
         
         }
         td {
            height: 89px;
            border-bottom: 1px dotted;
            font-weight: bold;
            text-align: center;
        }
        td > a{
          font-weight: bold;
        }
          td > a > img {
            width: 60px;
            height: 60px;
        }
		 
        .hello > article .next{
            position: absolute;
            width: 101.76px;
            height: 14px;
            left: calc(50% - 101.76px/2 + 20.1px);
            top: 723px;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 10.5px;
            line-height: 13px;
            display: flex;
            align-items: center;
            text-align: center;

            color: #999999;
            

        }

        .hello > article .next .highlight3{
            color: #111111;

        }
		.hello .page_box{
			position : absolute;
            width: 100%;
            height: 35px;
            top :700px;
            text-align: center;
            font-weight: bold;
        }
        .hello .page_box span {
            font-weight: bold;
        }
        .hello .page_box .underline{
            border-bottom: 1px solid #111;
        }

        .hello .page_box::before{content: "<";}
        .hello .page_box::after{content: ">";}


