
    
    * {
            margin: 0;
            padding: 0;
            font: normal 12px '고딕';
        }
        ul, ol {list-style: none;}
        a {text-decoration: none; color: #111;}
        input, textarea {outline: none;}
        
        #wrapper {
        position: relative;
        width: 1920px;
        height: 1199px;
                
        background: #FFFFFF;

        margin: 0 auto;

        }


        .subtopbg1{
            position: absolute;
            width: 980px;
            height: 184px;
            left: 470px;
            right: 470px;
            top: 145px;

            


        }
        .subtopbg1 .subtoptit1{
            position: absolute;
            width: 326px;
            height: 37px;
            left: 10px;
            bottom: 10px;
                    
            

        }


        main {
            position: absolute;
            width: 980px;
            height: 920.75px;
            left: 470px;
            right: 470px;
            top: 326px;
        }
        main > aside{
            position: absolute;
            width: 176px;
            height: 650px;
            left: 0px;
            top: 0px;

            

        }

        main > #asidesize{
            position: absolute;
            width: 176px;
            height: 650px;
            left: 470px;
            top: 340px;

            
            
        }
        
        .asidegate1{
            position: absolute;
            width: 129px;
            height: 44px;
            left: 16px;
            top: 16px;

            


        }

        main #asidesize .asidebgline{
            position: relative;
            top: 37px;
            float: right;
            
        }

        .asidelnb{
            position: absolute;
            width: 175px;
            height: 233px;
            left: 0px;
            top: 81px;

            background: url('/farm/img/sub_aside_bg_lnb.png');

        }

        .asidelnb .lnb1{
            position: absolute;
            left: 0px;
            right: 0px;
            top: 26px;
            bottom: 178px;

            


        }
        .asidelnb .lnb2{
            position: absolute;
            left: 0px;
            right: 0px;
            top: 61px;
            bottom: 143px;

            


        }
        .asidelnb .lnb3{
            position: absolute;
            left: 0px;
            right: 0px;
            top: 96px;
            bottom: 108px;

            

        }


        .hello{
            position: absolute;
            width: 802px;
            height: 920.75px;
            left: 176px;
            top: 0px;
        }

        .hello > article > nav{
            box-sizing: border-box;
            position: absolute;
            width: 762px;
            height: 72px;
            left: 40px;
            right: 0px;
            top: 0px;

            border-bottom: 1px solid #C2C2C2;

        }
        .hello > article > nav .navtit1{
            position: absolute;
            width: 69px;
            height: 24px;
            left: 0px;
            bottom: 5px;

            

        }
        .hello > article > nav .smallhello{
            position: absolute;
            height: 17px;
            left: 75.21%;
            right: 0%;
            bottom: 5px;
            white-space: nowrap;
       
        }
       

        .hello > article > nav .smallhello .smallhello2{
            position: absolute;
            height: 14px;
            height: 14px;
            left: 42px;
            top: 1px;

            font-family: Arial, Helvetica, sans-serif; /* 폰트 패밀리 */
            font-style: normal; /* 폰트 스타일 */
            font-weight: 400; /* 폰트 굵기 */
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;

            color: #8C8C8C;



        }
        .hello > article > nav .smallhello .smallhello2 > div{
            position: relative;
            right: 3px;
            bottom: 2px;

        }
        .hello > article > nav .smallhello .smallhello2 .highlight{
            position: relative;
            bottom: 1.5px;
            font-weight: bold;
            color: #91BA15;
            
        }
        .hello > article > div .boards{
            position: absolute;
            width: 247.22px;
            height: 14px;
            left: 40px;
            top: 113px;
                    
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            white-space: nowrap;
                    
            color: #000000;
                    

        }
        .hello > article > p {
            position: absolute;
            width: 95.2px;
            height: 14px;
            left: 40px;
            top: 113px;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;

            color: #111111;
            white-space: nowrap;
        }
        
        .hello > article .cart{
            box-sizing: border-box;
                    
            position: absolute;
            height: 294px;
            left: 40px;
            right: 0px;
            top: 139px;
                    
            border-width: 1px 0px;
            border-style: solid;
            border-color: #111111;
            overflow: hidden;
        }

        .hello > article .cart > .carthead{
            box-sizing: border-box;

            position: absolute;
            width: 762px;
            height: 38px;
            left: 0px;
            top: calc(50% - 38px/2 - 127.5px);

            border-bottom: 1px solid #EEEEEE;


        }
        .hello > article .cart > .cartbody{
            position: absolute;
            width: 762px;
            height: 255px;
            left: 0px;
            top: calc(50% - 255px/2 + 19px);


            
        }

        .hello > article .cart > .carthead > li:nth-child(1){
            box-sizing: border-box;
                    
            position: absolute;
            width: 80px;
            height: 38px;
            left: 0px;
            top: calc(50% - 38px/2);
                    
            background: #E5ECEF;
            border-bottom: 1px solid #D1DEE2;

        }

        .hello > article .cart > .carthead > li:nth-child(1) .image{
            position: absolute;
            width: 36.2px;
            height: 14px;
            left: 22px;
            top: calc(50% - 14px/2 - 0.5px);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            text-align: center;

            color: #000000;



        }
        .hello > article .cart > .carthead > li:nth-child(2){
            box-sizing: border-box;

            position: absolute;
            width: 76.19px;
            height: 38px;
            left: 80px;
            top: calc(50% - 38px/2);

            background: #E5ECEF;
            border-bottom: 1px solid #D1DEE2;

        }
        .hello > article .cart > .carthead > li:nth-child(2) .kind{
            position: absolute;
            width: 24.2px;
            height: 14px;
            left: 26.09px;
            top: calc(50% - 14px/2 - 0.5px);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            text-align: center;

            color: #000000;



        }
        .hello > article .cart > .carthead > li:nth-child(3){
            box-sizing: border-box;
                    
            position: absolute;
            width: 224.88px;
            height: 38px;
            left: 156.19px;
            top: calc(50% - 38px/2);
                    
            background: #E5ECEF;
            border-bottom: 1px solid #D1DEE2;


        }
        .hello > article .cart > .carthead > li:nth-child(3) .Productname{
            position: absolute;
            width: 36.2px;
            height: 14px;
            left: 94.44px;
            top: calc(50% - 14px/2 - 0.5px);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            text-align: center;

            color: #000000;

        }
        .hello > article .cart > .carthead > li:nth-child(4){
            box-sizing: border-box;
                    
            position: absolute;
            width: 76.19px;
            height: 38px;
            left: 381.06px;
            top: calc(50% - 38px/2);
                    
            background: #E5ECEF;
            border-bottom: 1px solid #D1DEE2;


        }
        .hello > article .cart > .carthead > li:nth-child(4) .quantity{
            position: absolute;
            width: 24.2px;
            height: 14px;
            left: 26.1px;
            top: calc(50% - 14px/2 - 0.5px);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            text-align: center;

            color: #000000;

        }
        .hello > article .cart > .carthead > li:nth-child(5){
            box-sizing: border-box;

            position: absolute;
            width: 76.19px;
            height: 38px;
            left: 457.25px;
            top: calc(50% - 38px/2);

            background: #E5ECEF;
            border-bottom: 1px solid #D1DEE2;


        }
        .hello > article .cart > .carthead > li:nth-child(5) .discount{
            position: absolute;
            width: 24.2px;
            height: 14px;
            left: 26.09px;
            top: calc(50% - 14px/2 - 0.5px);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            text-align: center;

            color: #000000;

        }
        .hello > article .cart > .carthead > li:nth-child(6){
            box-sizing: border-box;

            position: absolute;
            width: 76.19px;
            height: 38px;
            left: 533.44px;
            top: calc(50% - 38px/2);

            background: #E5ECEF;
            border-bottom: 1px solid #D1DEE2;


        }
        .hello > article .cart > .carthead > li:nth-child(6) .point{
            position: absolute;
            width: 36.2px;
            height: 14px;
            left: 20.09px;
            top: calc(50% - 14px/2 - 0.5px);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            text-align: center;

            color: #000000;

        }
        .hello > article .cart > .carthead > li:nth-child(7){
            box-sizing: border-box;
                    
            position: absolute;
            width: 76.19px;
            height: 38px;
            left: 609.63px;
            top: calc(50% - 38px/2);
                    
            background: #E5ECEF;
            border-bottom: 1px solid #D1DEE2;


        }
        .hello > article .cart > .carthead > li:nth-child(7) .price{
            position: absolute;
            width: 24.2px;
            height: 14px;
            left: 26.09px;
            top: calc(50% - 14px/2 - 0.5px);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            text-align: center;

            color: #000000;


        }
        .hello > article .cart > .carthead > li:nth-child(8){
            box-sizing: border-box;

            position: absolute;
            width: 76.19px;
            height: 38px;
            left: 685.81px;
            top: calc(50% - 38px/2);

            background: #E5ECEF;
            border-bottom: 1px solid #D1DEE2;


        }
        .hello > article .cart > .carthead > li:nth-child(8) .subtotal{
            position: absolute;
            width: 24.2px;
            height: 14px;
            left: 26.1px;
            top: calc(50% - 14px/2 - 0.5px);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            text-align: center;

            color: #000000;

        }


        .hello > article .cart .cartbody2{
             box-sizing: border-box;

             position: absolute;
             width: 762px;
             height: 85px;
             left: 0px;
             top: calc(50% - 85px/2 - 85px);

             border-bottom: 1px solid #EEEEEE;


        }

        .hello > article .cart .cartbody2 >.image1{
            position: absolute;
            width: 60px;
            height: 60px;
            left: 10px;
            top: 10.5px;

            


        }
        .hello > article .cart .cartbody2 > .kind1{
            position: absolute;
            width: 24.2px;
            height: 14px;
            left: 106.09px;
            top: calc(50% - 14px/2 - 0.5px);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            text-align: center;

            color: #777777;




        }
        .hello > article .cart .cartbody2 > .Productname1{
            position: absolute;
            width: 51.2px;
            height: 14px;
            left: 243.13px;
            top: 35px;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 11.0625px;
            line-height: 13px;
            /* identical to box height */
            display: flex;
            align-items: center;
            text-align: center;

            color: #111111;

        }
        .hello > article .cart .cartbody2 > .quantity1{
            position: absolute;
            width: 6.2px;
            height: 14px;
            left: 416.16px;
            top: calc(50% - 14px/2 - 0.5px);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            text-align: center;

            color: #777777;

        }
        .hello > article .cart .cartbody2 > .discount1{
            position: absolute;
            width: 22.2px;
            height: 14px;
            left: 484.34px;
            top: calc(50% - 14px/2 - 0.5px);
                    
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 11.625px;
            line-height: 14px;
            /* identical to box height */
            display: flex;
            align-items: center;
            text-align: center;
                    
            color: #777777;


        }
        .hello > article .cart .cartbody2 > .point1{
            position: absolute;
            width: 18.89px;
            height: 14px;
            left: 562.19px;
            top: calc(50% - 14px/2 - 0.5px);
                    
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 9.75px;
            line-height: 12px;
            display: flex;
            align-items: center;
            text-align: center;
                    
            color: #777777;
                    


        }
        .hello > article .cart .cartbody2 > .price1{
            position: absolute;
            width: 27.2px;
            height: 14px;
            left: 634.22px;
            top: calc(50% - 14px/2 - 0.5px);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 9.75px;
            line-height: 12px;
            display: flex;
            align-items: center;
            text-align: center;

            color: #777777;             
        }
        .hello > article .cart .cartbody2 > .subtotal1{
            position: absolute;
            height: 85px;
            left: 90%;
            right: 0%;
            top: calc(50% - 85px/2);

        }

        .hello > article .cart .cartbody2 > .subtotal1 > .subtotal1_1{
            position: absolute;
            width: 39.2px;
            height: 14px;
            left: 18.6px;
            top: 35px;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 10.125px;
            line-height: 12px;
            display: flex;
            align-items: center;
            text-align: center;

            color: #111111;

        }
        .hello > article .cart .cartbody3{
            box-sizing: border-box;

            position: absolute;
            width: 762px;
            height: 85px;
            left: 0px;
            top: calc(50% - 85px/2);

            border-bottom: 1px solid #EEEEEE;
        }
        
        .hello > article .cart .cartbody3 >.image2{
            position: absolute;
            width: 60px;
            height: 60px;
            left: 10px;
            top: 10.5px;

            

        }
        .hello > article .cart .cartbody3 > .kind2{

            position: absolute;
            width: 24.2px;
            height: 14px;
            left: 106.09px;
            top: calc(50% - 14px/2 - 0.5px);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            text-align: center;

            color: #777777;


        }
        .hello > article .cart .cartbody3 > .Productname2{
            position: absolute;
            width: 51.2px;
            height: 14px;
            left: 243.13px;
            top: 35px;
                    
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 11.0625px;
            line-height: 13px;
            /* identical to box height */
            display: flex;
            align-items: center;
            text-align: center;
                    
            color: #111111;

        }
        .hello > article .cart .cartbody3 > .quantity2{
            position: absolute;
            width: 6.2px;
            height: 14px;
            left: 416.16px;
            top: calc(50% - 14px/2 - 0.5px);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            text-align: center;

            color: #777777;

        }
        .hello > article .cart .cartbody3 > .discount2{
            position: absolute;
            width: 22.2px;
            height: 14px;
            left: 484.34px;
            top: calc(50% - 14px/2 - 0.5px);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 11.625px;
            line-height: 14px;
            /* identical to box height */
            display: flex;
            align-items: center;
            text-align: center;

            color: #777777;
        }
        .hello > article .cart .cartbody3 > .point2{
            position: absolute;
            width: 18.89px;
            height: 14px;
            left: 562.19px;
            top: calc(50% - 14px/2 - 0.5px);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 9.75px;
            line-height: 12px;
            display: flex;
            align-items: center;
            text-align: center;

            color: #777777;

        }
        .hello > article .cart .cartbody3 > .price2{
            position: absolute;
            width: 27.2px;
            height: 14px;
            left: 634.22px;
            top: calc(50% - 14px/2 - 0.5px);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 9.75px;
            line-height: 12px;
            display: flex;
            align-items: center;
            text-align: center;

            color: #777777;
 
        }
        .hello > article .cart .cartbody3 > .subtotal2{
            position: absolute;
            height: 85px;
            left: 90%;
            right: 0%;
            top: calc(50% - 85px/2);
        }

        .hello > article .cart .cartbody3 > .subtotal2 > .subtotal2_1{
            position: absolute;
            width: 39.2px;
            height: 14px;
            left: 18.6px;
            top: 35px;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 10.125px;
            line-height: 12px;
            display: flex;
            align-items: center;
            text-align: center;

            color: #111111;



        }

          .hello > article .cart .cartbody4{
            box-sizing: border-box;
                    
            position: absolute;
            width: 762px;
            height: 85px;
            left: 0px;
            top: calc(50% - 85px/2 + 85px);
                    
            border-bottom: 1px solid #EEEEEE;
                    
                    
        }
        

        .hello > article .cart .cartbody4 >.image3{
            position: absolute;
            width: 60px;
            height: 60px;
            left: 10px;
            top: 10.5px;
                    
            


        }
        .hello > article .cart .cartbody4 > .kind3{

            position: absolute;
            width: 24.2px;
            height: 14px;
            left: 106.09px;
            top: calc(50% - 14px/2 - 0.5px);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            text-align: center;

            color: #777777;


        }
        .hello > article .cart .cartbody4 > .Productname3{
            position: absolute;
            width: 51.2px;
            height: 14px;
            left: 243.13px;
            top: 35px;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 11.0625px;
            line-height: 13px;
            /* identical to box height */
            display: flex;
            align-items: center;
            text-align: center;

            color: #111111;

        }
        .hello > article .cart .cartbody4 > .quantity3{

            position: absolute;
            width: 6.2px;
            height: 14px;
            left: 416.16px;
            top: calc(50% - 14px/2 - 0.5px);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            text-align: center;

            color: #777777;

        }
        .hello > article .cart .cartbody4 > .discount3{
            position: absolute;
            width: 22.2px;
            height: 14px;
            left: 484.34px;
            top: calc(50% - 14px/2 - 0.5px);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 11.625px;
            line-height: 14px;
            /* identical to box height */
            display: flex;
            align-items: center;
            text-align: center;

            color: #777777;


        }
        .hello > article .cart .cartbody4 > .point3{
            position: absolute;
            width: 18.89px;
            height: 14px;
            left: 562.19px;
            top: calc(50% - 14px/2 - 0.5px);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 9.75px;
            line-height: 12px;
            display: flex;
            align-items: center;
            text-align: center;

            color: #777777;

        }
        .hello > article .cart .cartbody4 > .price3{
            position: absolute;
            width: 27.2px;
            height: 14px;
            left: 634.22px;
            top: calc(50% - 14px/2 - 0.5px);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 9.75px;
            line-height: 12px;
            display: flex;
            align-items: center;
            text-align: center;

            color: #777777;

           
        }
        .hello > article .cart .cartbody4 > .subtotal3{
            position: absolute;
            height: 85px;
            left: 90%;
            right: 0%;
            top: calc(50% - 85px/2);

        }

        .hello > article .cart .cartbody4 > .subtotal3 > .subtotal3_1{
            position: absolute;
            width: 39.2px;
            height: 14px;
            left: 18.6px;
            top: 35px;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 10.125px;
            line-height: 12px;
            display: flex;
            align-items: center;
            text-align: center;

            color: #111111;



        }
        main .button {
            display: flex;
            justify-content: flex-end;
        }
        .button button {
            border: none;
            cursor: pointer;
        }


        main .boarder{
            box-sizing: border-box;
            position: absolute;
            height: 290px;
            left: 62%;
            right: 0%;
            top: 443px;
            border: 1px solid #D7D7D7;

        }
        main .boarder .table{
            box-sizing: border-box;
            position: absolute;
            height: 229px;
            left: 7px;
            right: 7px;
            top: 7px;
                    
            border-width: 1px 0px;
            border-style: solid;
            border-color: #111111;


        }

        main .boarder .table .allcount{
            position: absolute;
            width: 72.2px;
            height: 14px;
            left: 109.39px;
            top: 7px;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;

            color: #000000;

        }

        main .boarder .table .bdquantity{
            position: absolute;
            width: 286.8px;
            height: 26px;
            left: 0px;
            top: calc(50% - 26px/2 - 66px);
        }
        main .boarder .table .bdquantity .bdquantity1_1{
            position: absolute;
            width: 36.2px;
            height: 26px;
            left: 10px;
            top: calc(50% - 26px/2);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 26px;
            /* identical to box height, or 217% */
            display: flex;
            align-items: center;

            color: #000000;




        }
        main .boarder .table .bdquantity .bdquantity1_2{
            position: absolute;
            width: 6.2px;
            height: 14px;
            left: 185.88px;
            top: calc(50% - 14px/2 - 0.5px);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;

            color: #000000;

        }
        main .boarder .table .bdprice{
            position: absolute;
            width: 286.8px;
            height: 26px;
            left: 0px;
            top: calc(50% - 26px/2 - 40px);

        }
        main .boarder .table .bdprice .bdprice1_1{
            position: absolute;
            width: 48.2px;
            height: 26px;
            left: 10px;
            top: calc(50% - 26px/2);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 26px;
            /* identical to box height, or 217% */
            display: flex;
            align-items: center;

            color: #000000;

        }
        main .boarder .table .bdprice .bdprice1_2{
            position: absolute;
            width: 33.2px;
            height: 14px;
            left: 185.88px;
            top: calc(50% - 14px/2 - 0.5px);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 10.3125px;
            line-height: 12px;
            display: flex;
            align-items: center;

            color: #000000;
        }
        main .boarder .table .bddcprice{
            position: absolute;
            width: 286.8px;
            height: 26px;
            left: 0px;
            top: calc(50% - 26px/2 - 13px);

        }
        main .boarder .table .bddcprice .bddcprice1_1{
            position: absolute;
            width: 48.2px;
            height: 26px;
            left: 10px;
            top: calc(50% - 26px/2);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 26px;
            /* identical to box height, or 217% */
            display: flex;
            align-items: center;

            color: #000000;
        }
        main .boarder .table .bddcprice .bddcprice1_2{
            position: absolute;
            width: 45.2px;
            height: 14px;
            left: 185.88px;
            top: calc(50% - 14px/2 - 0.5px);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 10.5px;
            line-height: 13px;
            display: flex;
            align-items: center;

            color: #000000;
                         
        }
        main .boarder .table .bdusepoint{
            position: absolute;
            width: 286.8px;
            height: 26px;
            left: 0px;
            top: calc(50% + 5px/2);
        }

        main .boarder .table .bdusepoint .bdusepoint1_1{
            position: absolute;
            width: 60.2px;
            height: 26px;
            left: 10px;
            top: calc(50% - 26px/2);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 26px;
            /* identical to box height, or 217% */
            display: flex;
            align-items: center;

            color: #000000;

        }
        main .boarder .table .bdusepoint  .bdusepoint1_2{
            position: absolute;
            width: 30.89px;
            height: 14px;
            left: 185.88px;
            top: calc(50% - 14px/2 - 0.5px);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 9.75px;
            line-height: 12px;
            display: flex;
            align-items: center;

            color: #000000;


        }
        main .boarder .table .bddelfee{
            position: absolute;
            width: 286.8px;
            height: 26px;
            left: 0px;
            top: calc(50% - 26px/2 + 43px);

        }
        main .boarder .table .bddelfee .bddelfee1_1{
            position: absolute;
            width: 36.2px;
            height: 26px;
            left: 10px;
            top: calc(50% - 26px/2);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 26px;
            /* identical to box height, or 217% */
            display: flex;
            align-items: center;

            color: #000000;


        }
        main .boarder .table .bddelfee .bddelfee1_2{
            position: absolute;
            width: 45.2px;
            height: 14px;
            left: 185.88px;
            top: calc(50% - 14px/2 - 0.5px);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 10.5px;
            line-height: 13px;
            display: flex;
            align-items: center;

            color: #000000;


        }
        main .boarder .table .bdaddpoint{
            position: absolute;
            width: 286.8px;
            height: 26px;
            left: 0px;
            top: calc(50% - 26px/2 + 71px);
        }
        main .boarder .table .bdaddpoint .bdaddpoint1_1{
            position: absolute;
            width: 60.2px;
            height: 26px;
            left: 10px;
            top: calc(50% - 26px/2);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 26px;
            /* identical to box height, or 217% */
            display: flex;
            align-items: center;

            color: #000000;
        }
        main .boarder .table .bdaddpoint .bdaddpoint1_2{
            position: absolute;
            width: 24.89px;
            height: 14px;
            left: 185.88px;
            top: calc(50% - 14px/2 - 0.5px);
                    
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 9.75px;
            line-height: 12px;
            display: flex;
            align-items: center;
                    
            color: #000000;

        }
        main .boarder .table .bdallcount{
            position: absolute;
            width: 286.8px;
            height: 26px;
            left: 0px;
            top: calc(50% - 26px/2 + 99px);
        }
        main .boarder .table .bdallcount .bdallcount1_1{
            position: absolute;
            width: 72.2px;
            height: 26px;
            left: 10px;
            top: calc(50% - 26px/2);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 26px;
            /* identical to box height, or 217% */
            display: flex;
            align-items: center;

            color: #000000;

        }
        main .boarder .table .bdallcount .bdallcount1_2{
            position: absolute;
            width: 33.2px;
            height: 14px;
            left: 185.88px;
            top: calc(50% - 14px/2 - 0.5px);
                    
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 9.1875px;
            line-height: 11px;
            display: flex;
            align-items: center;
                    
            color: #C20A0A;

        }

        .button2 button {
         border: none;
            cursor: pointer;
        }


        main .boarder .button2 .btnorder{
            display: flex;
            justify-content: flex-end;
            position: absolute;
            height: 37px;
            left: 7px;
            right: 7px;
            top: 246px;

            background: #960D1A;
        }

        main .boarder .button2 .btnorder > p{
            position: absolute;
            width: 48.2px;
            height: 14px;
            left: calc(50% - 48.2px/2 + 0.09px);
            top: 11px;
                    
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            text-align: center;
            background-color: #960D1A;
            color: #FFFFFF;      

        }

        .hello .orderinfo > p{
            position: absolute;
            width: 48.2px;
            height: 14px;
            left: calc(50% - 48.2px/2 + 0.09px);
            top: 11px;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            text-align: center;

            color: #FFFFFF;
            white-space: nowrap;


        }
        main .boarder2{     
            box-sizing: border-box;

            position: absolute;
            width: 447.19px;
            height: 440.75px;
            left: 40px;
            right: 314.81px;
            top: 480px;

            border-top: 1px solid #BE0808;
    
        }
        main .boarder2 .table2{
            position: absolute;
            width: 447.19px;
            height: 439.75px;
            left: 0px;
            top: calc(50% - 439.75px/2);
        }
        main .boarder2 .table2 .row1{
            position: absolute;
            width: 447.19px;
            height: 41px;
            left: 0px;
            top: calc(50% - 41px/2 - 199.38px);
                
        }
        main .boarder2 .table2 .row2{
            position: absolute;
            width: 447.19px;
            height: 41px;
            left: 0px;
            top: calc(50% - 41px/2 - 158.38px);

        }
        main .boarder2 .table2 .row3{
            position: absolute;
            width: 447.19px;
            height: 59px;
            left: 0px;
            top: calc(50% - 59px/2 - 108.38px);
        }
        main .boarder2 .table2 .row4{
            position: absolute;
            width: 447.19px;
            height: 41px;
            left: 0px;
            top: calc(50% - 41px/2 - 58.38px);

        }
        main .boarder2 .table2 .row5{
            position: absolute;
            width: 447.19px;
            height: 41px;
            left: 0px;
            top: calc(50% - 41px/2 - 17.38px);
        }
        main .boarder2 .table2 .row6{
            position: absolute;
            width: 447.19px;
            height: 85.75px;
            left: 0px;
            top: calc(50% - 85.75px/2 + 46px);

        }
        main .boarder2 .table2 .row7{
            position: absolute;
            width: 447.19px;
            height: 44px;
            left: 0px;
            top: calc(50% - 44px/2 + 110.88px);


        }
        main .boarder2 .table2 .row8{
            position: absolute;
            width: 447.19px;
            height: 87px;
            left: 0px;
            top: calc(50% - 87px/2 + 176.38px);

        }
        main .boarder2 .table2 .row1 .orderer1{
            box-sizing: border-box;

            position: absolute;
            width: 105.19px;
            height: 41px;
            left: 0px;
            top: calc(50% - 41px/2);

            background: #F7F7F7;
            border-bottom: 1px solid #D7D7D7;

        }

        main .boarder2 .table2 .orderer1 > label{
            position: absolute;
            width: 36.2px;
            height: 14px;
            left: 10px;
            top: calc(50% - 14px/2 - 0.5px);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;

            color: #000000;
        }
        main .boarder2 .table2 .orderer1_2 {
            box-sizing: border-box;
            position: absolute;
            width: 342px;
            height: 41px;
            left: 105.19px;
            top: calc(50% - 41px/2);

            border-bottom: 1px solid #D7D7D7;
        }
        main .boarder2 .table2 .orderer1_2 #orderer{
            box-sizing: border-box;

            position: absolute;
            width: 149px;
            height: 20px;
            left: 10px;
            top: 10.5px;

            background: #FFFFFF;
            border: 1px solid #D7D7D7;

        }

        main .boarder2 .table2 .phone1{
            box-sizing: border-box;

            position: absolute;
            width: 105.19px;
            height: 41px;
            left: 0px;
            top: calc(50% - 41px/2);

            background: #F7F7F7;
            border-bottom: 1px solid #D7D7D7;

        }
        main .boarder2 .table2 .phone1 > label{
            position: absolute;
            width: 36.2px;
            height: 14px;
            left: 10px;
            top: calc(50% - 14px/2 - 0.5px);
                    
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
                    
            color: #000000;
        }
        main .boarder2 .table2 .phone1_2{
            box-sizing: border-box;
            position: absolute;
            width: 342px;
            height: 41px;
            left: 105.19px;
            top: calc(50% - 41px/2);

            border-bottom: 1px solid #D7D7D7;

        }
        main .boarder2 .table2 .phone1_2 #phone{
            box-sizing: border-box;

            position: absolute;
            width: 149px;
            height: 20px;
            left: 10px;
            top: 10.5px;

            background: #FFFFFF;
            border: 1px solid #D7D7D7;

        }
        main .boarder2 .table2 .points1{
            box-sizing: border-box;

            position: absolute;
            width: 105.19px;
            height: 59px;
            left: 0px;
            top: calc(50% - 59px/2);

            background: #F7F7F7;
            border-bottom: 1px solid #D7D7D7;
        }
        main .boarder2 .table2 .points1 > label{
            position: absolute;
            width: 60.2px;
            height: 14px;
            left: 10px;
            top: calc(50% - 14px/2 - 0.5px);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;

            color: #000000;
                
        }

        main .boarder2 .table2 .points1_2{
            box-sizing: border-box;

            position: absolute;
            width: 342px;
            height: 59px;
            left: 105.19px;
            top: calc(50% - 59px/2);

            border-bottom: 1px solid #D7D7D7;

        }
        main .boarder2 .table2 .points1_2 #points{
            box-sizing: border-box;
            position: absolute;
            width: 149px;
            height: 20px;
            left: 10px;
            top: 11px;
                    
            background: #FFFFFF;
            border: 1px solid #D7D7D7;

        }
        main .boarder2 .table2 .points1_2 > p{
            position: absolute;
            width: 78.2px;
            height: 14px;
            left: 10px;
            top: 32.5px;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 11.625px;
            line-height: 14px;
            display: flex;
            align-items: center;
            color: #000000;
            white-space: nowrap;

        }        

        main .boarder2 .table2 .points1_2 > button{
            display: flex;
            justify-content: flex-end;
            border: none;
            cursor: pointer;
        }
        main .boarder2 .table2 .points1_2 > button{
            box-sizing: border-box;

            position: absolute;
            width: 52px;
            height: 21px;
            left: 162px;
            top: 10.5px;

            background: #EFEFEF;
            border: 1px solid #767676;
            border-radius: 2.5px;

        }
        main .boarder2 .table2 .points1_2 > button > p{
            position: absolute;
            width: 48.2px;
            height: 14px;
            left: 2px;
            top: 3px;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            text-align: center;

            color: #000000;


        }


        main .boarder2 .table2 .recipient1{
            box-sizing: border-box;

            position: absolute;
            width: 105.19px;
            height: 41px;
            left: 0px;
            top: calc(50% - 41px/2);

            background: #F7F7F7;
            border-bottom: 1px solid #D7D7D7;         
        }
        main .boarder2 .table2 .recipient1 > label{
            position: absolute;
            width: 36.2px;
            height: 14px;
            left: 10px;
            top: calc(50% - 14px/2 - 0.5px);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;

            color: #000000;
        }
        main .boarder2 .table2 .recipient1_2{
            box-sizing: border-box;

            position: absolute;
            width: 342px;
            height: 41px;
            left: 105.19px;
            top: calc(50% - 41px/2);

            border-bottom: 1px solid #D7D7D7;
        }

        main .boarder2 .table2 .recipient1_2 #recipient{
            box-sizing: border-box;

            position: absolute;
            width: 149px;
            height: 20px;
            left: 10px;
            top: 10.5px;

            background: #FFFFFF;
            border: 1px solid #D7D7D7;

        }

        main .boarder2 .table2 .contact1{
            box-sizing: border-box;

            position: absolute;
            width: 105.19px;
            height: 41px;
            left: 0px;
            top: calc(50% - 41px/2);

            background: #F7F7F7;
            border-bottom: 1px solid #D7D7D7;

        }

        main .boarder2 .table2 .contact1 > label{
            position: absolute;
            width: 36.2px;
            height: 14px;
            left: 10px;
            top: calc(50% - 14px/2 - 0.5px);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;

            color: #000000;
        }

        main .boarder2 .table2 .contact1_2{
            box-sizing: border-box;

            position: absolute;
            width: 342px;
            height: 41px;
            left: 105.19px;
            top: calc(50% - 41px/2);

            border-bottom: 1px solid #D7D7D7;

        }
        main .boarder2 .table2 .contact1_2 #contact{
            box-sizing: border-box;

            position: absolute;
            width: 149px;
            height: 20px;
            left: 10px;
            top: 10.5px;

            background: #FFFFFF;
            border: 1px solid #D7D7D7;

        }

        main .boarder2 .table2 .address1{
            box-sizing: border-box;

            position: absolute;
            width: 105.19px;
            height: 85.75px;
            left: 0px;
            top: calc(50% - 85.75px/2);

            background: #F7F7F7;
            border-bottom: 1px solid #D7D7D7;

        }
        main .boarder2 .table2 .address1 > label{
            position: absolute;
            width: 48.2px;
            height: 14px;
            left: 10px;
            top: calc(50% - 14px/2 - 0.5px);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;

            color: #000000;
        }

        main .boarder2 .table2 .address1_2{
            box-sizing: border-box;

            position: absolute;
            width: 342px;
            height: 85.75px;
            left: 105.19px;
            top: calc(50% - 85.75px/2);

            border-bottom: 1px solid #D7D7D7;

        }
        main .boarder2 .table2 .address1_2 #address1{
            box-sizing: border-box;

            position: absolute;
            width: 149px;
            height: 20px;
            left: 10px;
            top: 10.5px;

            background: #FFFFFF;
            border: 1px solid #D7D7D7;

        }
        main .boarder2 .table2 .address1_2 #btnsearch{
            position: relative;
            width: 91px;
            height: 20px;
            left: 163px;
            top: calc(50% - 20px/2 - 21.62px);
            display: flex;
            justify-content: flex-end;
            border: none;
            cursor: pointer;

            background: url('/farm/img/btn_post_search.gif'), #EFEFEF;

        }

        main .boarder2 .table2 .address1_2 #address2{
            box-sizing: border-box;

            position: absolute;
            width: 322px;
            height: 20px;
            left: 10px;
            top: 33.25px;

            background: #FFFFFF;
            border: 1px solid #D7D7D7;

        }
        main .boarder2 .table2 .address1_2 #detailed-address{
            box-sizing: border-box;

            position: absolute;
            width: 322px;
            height: 20px;
            left: 10px;
            top: 55.25px;

            background: #FFFFFF;
            border: 1px solid #D7D7D7;

        }
        main .boarder2 .table2 .payment1{
            box-sizing: border-box;

            position: absolute;
            width: 105.19px;
            height: 44px;
            left: 0px;
            top: calc(50% - 44px/2);

            background: #F7F7F7;
            border-bottom: 1px solid #D7D7D7;

        }
        main .boarder2 .table2 .payment1 > label{
            position: absolute;
            width: 48.2px;
            height: 14px;
            left: 10px;
            top: calc(50% - 14px/2 - 0.5px);

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;

            color: #000000;
                    
        }
        main .boarder2 .table2 .payment-method{
            box-sizing: border-box;
                    
            position: absolute;
            width: 342px;
            height: 44px;
            left: 105.19px;
            top: calc(50% - 44px/2);
                    
            border-bottom: 1px solid #D7D7D7;

        }
        main .boarder2 .table2 .payment-method #account{
            box-sizing: border-box;

            position: absolute;
            width: 13px;
            height: 13px;
            left: 0px;
            top: -7px;

            background: #FFFFFF;
            border: 1px solid #767676;
            border-radius: 50px;

        }
        main .boarder2 .table2 .payment-method >div:nth-child(1){
            position: absolute;
            width: 61px;
            height: 14px;
            left: 10px;
            top: 17.5px;
        }
        main .boarder2 .table2 .payment-method >div:nth-child(1) #account{
            box-sizing: border-box;

            position: absolute;
            width: 13px;
            height: 13px;
            left: 0px;
            top: -7px;

            background: #FFFFFF;
            border: 1px solid #767676;
            border-radius: 50px;

        }
        main .boarder2 .table2 .payment-method >div:nth-child(1) >label{
            position: absolute;
            width: 48.2px;
            height: 14px;
            left: 13px;
            top: 0px;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;

            color: #000000;


        }
        main .boarder2 .table2 .payment-method >div:nth-child(2){
            position: absolute;
            width: 61px;
            height: 14px;
            left: 74px;
            top: 17.5px;
        }
        main .boarder2 .table2 .payment-method >div:nth-child(2) #credit-card{
            box-sizing: border-box;

            position: absolute;
            width: 13px;
            height: 13px;
            left: 0px;
            top: -7px;

            background: #FFFFFF;
            border: 1px solid #767676;
            border-radius: 50px;

        }
        main .boarder2 .table2 .payment-method >div:nth-child(2) > label{
            position: absolute;
            width: 48.2px;
            height: 14px;
            left: 13px;
            top: 0px;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;

            color: #000000;
        }
        main .boarder2 .table2 .payment-method >div:nth-child(3){
            position: absolute;
            width: 61px;
            height: 14px;
            left: 138px;
            top: 17.5px;
        }
        main .boarder2 .table2 .payment-method >div:nth-child(3) #check-card{
            box-sizing: border-box;

            position: absolute;
            width: 13px;
            height: 13px;
            left: 0px;
            top: -7px;

            background: #FFFFFF;
            border: 1px solid #767676;
            border-radius: 50px;

        }
        main .boarder2 .table2 .payment-method >div:nth-child(3) > label{
            position: absolute;
            width: 48.2px;
            height: 14px;
            left: 13px;
            top: 0px;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;

            color: #000000;
        }
        main .boarder2 .table2 .payment-method >div:nth-child(4){
            position: absolute;
            width: 49px;
            height: 14px;
            left: 202px;
            top: 17.5px;
        }
        main .boarder2 .table2 .payment-method >div:nth-child(4) #mobile{
            box-sizing: border-box;

            position: absolute;
            width: 13px;
            height: 13px;
            left: 0px;
            top: -7px;

            background: #FFFFFF;
            border: 1px solid #767676;
            border-radius: 50px;

        }
        main .boarder2 .table2 .payment-method >div:nth-child(4) > label{
            position: absolute;
            width: 36.2px;
            height: 14px;
            left: 13px;
            top: 0px;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;

            color: #000000;
        }
        main .boarder2 .table2 .etc1{
            box-sizing: border-box;

            position: absolute;
            width: 105.19px;
            height: 87px;
            left: 0px;
            top: calc(50% - 87px/2);

            background: #F7F7F7;
            border-bottom: 1px solid #D7D7D7;

        }
        main .boarder2 .table2 .etc1 > label{
            position: absolute;
            width: 24.2px;
            height: 14px;
            left: 10px;
            top: calc(50% - 14px/2 - 0.5px);
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            color: #000000;
        }
        main .boarder2 .table2 .etc1_2{
            box-sizing: border-box;

            position: absolute;
            width: 342px;
            height: 87px;
            left: 105.19px;
            top: calc(50% - 87px/2);

            border-bottom: 1px solid #D7D7D7;

        }
    

        main .boarder2 .table2 .etc1_2 #etc{
            box-sizing: border-box;

            position: absolute;
            width: 322px;
            height: 62px;
            left: 10px;
            top: 10.5px;

            background: #FFFFFF;
            border: 1px solid #D7D7D7;

        }
        
        
        table{
        box-sizing: border-box;
            position: absolute;
            width: 762px;
            height : 133px;
            left: 40px;
            right: 0px;
            top: 139px;
            border-width: 1px 0px 0px 0px;
            border-style: solid;
            border-color: #111111;
            border-collapse: collapse;
            overflow: hidden;
        }
        tr:nth-child(1){
			position : absolute;
      		width: 762px;
        	height: 38px
        }
        th{
       		 box-sizing: border-box;
       		 background: #E5ECEF;
            border-bottom: 1px solid #D1DEE2;
            height : 37px;
            line-height: 38px
        }
        th:nth-child(1){
            position: absolute;
            width: 76.19px;
            left: 0px;
		}
        th:nth-child(2){
            position: absolute;
            width: 80px;
            left: 76.19px;
		}
		 th:nth-child(3){
            position: absolute;
            width: 76.19px;
            left: 156.19px;
		}
		 th:nth-child(4){
            position: absolute;
            width: 148.69px;
            left: 232.38px;
		}
		 th:nth-child(5){
            position: absolute;
            width: 76.19px;
            left: 381.08px;
		}
		 th:nth-child(6){
            position: absolute;
            width: 76.19px;
            left: 457.25px;
		}
		 th:nth-child(7){
            position: absolute;
            width: 76.19px;
			left: 533.44px;
		}
		 th:nth-child(8){
            position: absolute;
            width: 76.19px;
   			left: 609.63px;
		}
		 th:nth-child(9){
            position: absolute;
            width: 76.19px;
			left: 685.81px;
		}
     
        td:nth-child(3) {
            height: 89px;
            font-weight: bold;
            text-align: center;
        }
         td {
            height: 89px;
            border-bottom: 1px dotted;
            font-weight: bold;
            text-align: center;
        }
        td > data > img {
            width: 60px;
            height: 60px;
        }
