
        /************************ Header ************************/
        header{
            position: relative;
            width: 980px;
            height: 60px;
            left: 470px;
            top: 0px;
            background: url(/farm/img/admin/admin_bg.jpg);
        }

        header > .logo {
            position: absolute;
            width: 170px;
            height: 32px;
            left: 12px;
            top: 12px;
            background: url(/farm/img/admin/admin_logo.jpg) no-repeat;
        }

        header div {
            width: 149px;
            height: 14px;
            position: absolute;
            top: 13px;
            left: 819px;
        }
        
        header .top{
        	float: left;
            font-size: 11px; /*원래는 12로 변경해야 함*/
            color: white;
            line-height: 14px;
        }
